div.map
{
	width: 45%;
	float:right;
	height: 450px;
	padding-right: 15px;
}

div.pie
{
	text-align:center;
	width: 50%;
	float: left;
	height: 450px;
}

div.legend {
	width:20%;
	float:right;
}

div.options {
	width:45%;
	height: 450px;
	float:left;
	padding-left: 15px;
}

div.list {
	width:50%;
	float:right;
	height: 450px;
}

body {
	margin: 5;
	padding: 5px;
	font-family: Helvetica, arial, sans-serif;
	font-size: 15px;
	color: #454545;
	background-color: #E9F2F9;
	text-shadow: 0 1px 0 rgba(0,0,0,0.02);
	-webkit-font-smoothing: antialiased;
}
a, a:visited {
	color: #3fabff;
	text-decoration: none;
}
a:hover {
	color: #008af5;
}
h1 {
	font-weight: 300;
	font-size: 35px;
	letter-spacing: -1px;
}
.m {
    background-color: #4d0ef9;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 6px;
}
h2 {
	font-weight: bold;
}
label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}
p, .control-group {
	margin: 0 0 20px 0;
}
.selectors {
	border-bottom: 1px solid #e8e8e8;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	visibility:hidden;
}
.selectors:last-child {
	border-bottom: 0 none;
}
.selectors select, .selectors input, .selectors .selectize-control {
	width: 35%;
	padding: 10px;
}
.selectors > *:first-child {
	margin-top: 0;
}
.selectors > *:last-child {
	margin-bottom: 0;
}
.selectors .value {
	margin: 0 0 10px 0;
	font-size: 12px;
}
.selectors .value span {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
.theme-selector {
	margin-top: 10px;
	font-size: 13px;
}
.theme-selector:before {
	content: 'Themes: ';
}
.theme-selector a {
	margin: 0 5px;
}
.theme-selector a.active {
	color: #202020;
	font-weight: bold;
}
#wrapper {
	margin: 0;
}
#wrapper > * {
	padding-left: 100px;
	padding-right: 100px;
}
pre {
	background: #f8f8f8;
	border: 1px solid #f2f2f2;
	padding: 10px;
	font-size: 12px;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input[type=button] {
	margin: 0 10px 0 0;
	padding: 6px 10px;
	color: #606060;
	background: #e0e0e0;
	border: 0 none;
	width: auto;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased;
}
.buttons {
	margin: 0 0 25px 0;
}
input[type=button]:hover {
	background: #dadada;
}

/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {
	position: absolute;
	text-align: center;
	width: 140px;
	height: 56px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

/* Legend Font Style */
body {
	font: 11px sans-serif;
}

/* Legend Position Style */
.legend {                                                   /* NEW */
	font-size: 12px;                                          /* NEW */
}                                                           /* NEW */
rect {                                                      /* NEW */
	stroke-width: 1;                                          /* NEW */
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

div.pie-tooltip {
	position: absolute;
	text-align: center;
	width: 140px;
	height: 40px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;


@media only screen and (max-width : 320px) {
	body {
		/*margin: 20px 0;*/
	}
	#wrapper {
		margin: 0;
	}
	#wrapper > * {
		padding-left: 10px;
		padding-right: 10px;
	}
	.selectors {
		padding: 20px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}
