div.whole {
	width: 100%;
	background-color: #ffcc33;
	margin: auto;
}

div.map {
	width: 40%;
	float:left;
}

div.barChart {
	width: 60%;
	float: left;
	height: 450px;
}

/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {
	position: absolute;
	text-align: center;
	width: 140px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

div.barTooltip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

/* Legend Font Style */
body {
	font: 13px sans-serif;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}


#xaxis .domain {
	fill:none;
	stroke:#000;
}
#xaxis text, #yaxis text {
	font-size: 12px;
}

.axisHorizontal path{
        fill: none;
}

.axisHorizontal .tick line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.2);
}

.bar {
    fill: #2b8cbe;
    fill-opacity: .9;
	/*background-color: #2b8cbe,*/
}

text.label {
	fill: black;
}
